@import "settings.scss";
@import "../../node_modules/skeleton-scss/scss/skeleton.scss";

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

body, body * {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

table {
    input {
        margin: 0;
    }

    &.no-bottom-border {
        tr:last-child {
            th, td {
                border-width: 0;
            }
        }
    }
}

button.button-primary {
    &:focus:not(:hover) {
        background-color: $primary-color;
    }
    &:active {
        background-color: darken($link-color, 5%);
    }
}